body {
    background-color: #b0b0b0;
    font-family: Helvetica;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    width: min(80vw, 1000px);
    margin: auto;
    padding: 1em 0 1em 0;
    border-radius: 0.1em;
    box-shadow: 0em 0em 1em;
}

.elem-containers {
    margin: auto auto 1em auto;
    width: min(80vw, 80%);
    height: min(2em, auto);
}

.taskCounter {
    float:right;
    font-size: 0.7em;
    font-style: italic;
}

#toDoAdd form{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

#newTask {
    min-width: 70%;
    max-width: 100%;
    height: 2em;
    border-radius: 0.1em;
    box-shadow: 0em 0em 0.1em;
    font-size: 1.2em;
}

#addButton {
    width: 2em;
    height: 2em;
    transition-duration: 0.4s;
    border: none;
    border-radius: 1em;
    margin-left: 0.3em;
    font-size: 1.2em;
    box-shadow: 0 0 0.2em;
}

#addButton:hover{
    background-color: #dfdfdf;
    box-shadow: 0 0 0.5em;
}


ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 0.1em;
}

.itemCheckbox {
    width: 2em;
    height: 2em;
    flex-shrink: 1;
    accent-color: #b0b0b0;
}

.itemDelButton {
    width: 2em;
    height: 2em;
    flex-shrink: 1;
    margin-left: auto;
}

.item {
    border-style: none none none solid;
    border-width: 0.4em;
    border-left-color: #f0f0f0;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.item:hover {
    border-left-color: #b0b0b0;
}

.itemLabel {
    word-wrap: break-word;
    min-width: 10%;
    flex-shrink: 10;
    padding: 0 0.5em 0 0.5em;
}

h2 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

input[type=button]{
    transition-duration: 0.4s;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 0.2em;
}

input[type=button]:hover{
    background-color: #dfdfdf;
    box-shadow: 0 0 0.5em;
}

#toggleButton {
    height: 2em;
    width: 2em;
    margin-left: 1em;
    vertical-align: middle;
}

#clearButton {
    height: 2em;
    float: right;
    vertical-align: middle;
}

#toDoList {
    border-bottom: 0.1em solid black;
    padding-bottom: 1em;
}

#doneList {
    margin: 0;
}

#doneList span{
    text-decoration: line-through;
}